
@{
    ViewBag.Title = "Urun Ekle";
}
@using KuzeyYeliCircloidTemplate.Models
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Ürün Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Urun/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Urun/UrunEkle" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Adı:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ürün Adı Giriniz" name="UrunAdi">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fiyat:</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Fiyat" name="Fiyat">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Stok:</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Stok" name="Stok">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kategori:</label>
                            <select name="KategoriID" class="form-control">
                                @foreach (Kategoriler ktg in ViewBag.Kategoriler)
                                {
                                    <option value="@ktg.KategoriID">@ktg.KategoriAdi</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tedarikçi:</label>
                            <select name="TedarikciID" class="form-control">
                                @foreach (Tedarikciler tdr in ViewBag.Tedarikciler)
                                {
                                    <option value="@tdr.TedarikciID">@tdr.SirketAdi</option>
                                }
                            </select>
                        </div>



                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

