
@{
    ViewBag.Title = "Yeni Ekle";
}

@section head{
    <style>
        #hata{
            color:red;
            font-size:16px;
        }
    </style>
} 

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Üye Ekleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Kullanici/Index"><span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Kullanici/Ekle" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kullanıcı Adı:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Kullanıcı Adı Giriniz" name="KullaniciAdi">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Parola:</label>
                            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Parola Giriniz" name="Parola" min="3">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email Giriniz" name="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli Soru:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Gizli Soru Giriniz" name="GizliSoru">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gizli Cevap:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Gizli Cevap Giriniz" name="GizliCevap">
                        </div>





                        <button type="submit" class="btn btn-primary">Kaydet</button>

                        <span id="hata">@ViewBag.Mesaj</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>